<p>forgot-password works!</p>

<div class="row justify-content-center pt-5">
    <div class="col-md-6">
      <div class="card">
        <header class="card-header bg-primary">
          <!-- <a
           [routerLink]="['/enroll/register']" routerLinkActive="router-link-active" 
            class="float-right btn btn-outline-white mt-2 bg-success text-white"
            ><b>Sign Up</b></a
          > -->
          <h4 class="card-title mt-2 text-white text-xl-left"><b>forgot-password</b></h4>
        </header>
        <article class="card-body">
                <form class="" [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()" >
           
            <div class="form-group">
              <label>Employee ID</label>
              <input
                type="text"
                formControlName="EmployeeId"
                class="form-control border-primary"
                [ngClass]="{ 'is-invalid': submitted && f.EmployeeId.errors }"
              />
              <div *ngIf="submitted && f.EmployeeId.errors" class="invalid-feedback">
                <div *ngIf="f.EmployeeId.errors.required">Employee ID is required</div>
                
              </div>
            
            </div>
            <!-- form-group end.// -->
           
            <div class="form-group form-check">
                <input
                  type="checkbox"
                  formControlName="saveCredentials"
                  id="saveCredentials"
                  class="form-check-input border-primary"
                  [ngClass]="{ 'is-invalid': submitted && f.saveCredentials.errors }"
                />
                <label for="saveCredentials" class="form-check-label"
                  >Save Employee</label
                >
                <div
                  *ngIf="submitted && f.saveCredentials.errors"
                  class="invalid-feedback"
                >
                  Accept Ts & Cs is required
                </div>
              </div>
            <div class="form-group">
              <div class="text-center">
                <button class="btn bg-primary text-white mr-1">Log In</button>
                <button
                  class="btn btn-secondary"
                  type="reset"
                  (click)="onReset()"
                >
                  Cancel
                </button>
              </div>
            </div>
            <!-- form-group// -->
          </form>
        </article>
        <!-- card-body end .// -->
        <div class="border-top card-body text-center">
         Don't Have an account? <a [routerLink]="['/enroll/register']" routerLinkActive="router-link-active" >Sign Up</a>
        </div>
      </div>
      <!-- card.// -->
    </div>
    <!-- col.//-->
  </div>
  <!-- row.//-->
  
