<button type="button" mdbBtn class="relative waves-light " style="background-color:#132a3e" (click)="basicModal.show()"
    mdbWavesEffect><span style="color: white;">Create Us </span></button>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#132a3e">
                <button type="button" class="close pull-right" aria-label="Close" style="color: white;"
                    (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100 " style="color: white;" id="myModalLabel">New User Story</h4>
            </div>
            <div class="modal-body"> 
                <form [formGroup]="userstoryForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <input type="hidden" class="form-control" name="Id" formControlName="Id">
                    </div>

                    <div class="form-group">
                        <label>User Story : </label>
                        <input type="text" class="form-control" name="Name" formControlName="Name"
                            [ngClass]="{'is-invalid':submitted && f.Name.errors}">
                        <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                            <div *ngIf="f.Name.errors.required"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Project : </label>
                        <!-- <input type="text" class="form-control" name="project" formControlName="project"
                                [ngClass]="{'is-invalid':submitted && f.project.errors}"> -->

                        <input list="Projects" name="ProjectId" formControlName="ProjectId"
                            class="form-control border-primary">
                        <datalist id="Projects">
                            <option *ngFor="let p of newUserStoryService.projectList" [value]="p.Id">{{p.Name}}</option>
                        </datalist>
                        <div *ngIf="submitted && f.ProjectId.errors" class="invalid-feedback">
                            <div *ngIf="f.ProjectId.errors.required"></div>
                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <label>Project Name : </label>
                        <select class="form-control" formControlName="projectId" required
                            [ngClass]="{ 'is-invalid': submitted && f.projectId.errors}">
                            <div *ngIf="submitted && f.projectId.errors" class="invalid-feedback">
                                <div *ngIf="f.projectId.errors.required">project Name is required</div>
                            </div>
                            <option>Select project name</option>
                            <option *ngFor="let projId of newUserStoryService.list" [value]=projId.projectId>
                                {{projId.DeptName}} </option>
                        </select>

                    </div> -->
                    <!-- <select class="form-control" formControlName="DeptId" required  [ngClass]="{ 'is-invalid': submitted && f.DeptId.errors}">
                            <div *ngIf="submitted && f.DeptId.errors" class="invalid-feedback">
                                <div *ngIf="f.DeptId.errors.required">Name is required</div>
                                </div> 
                            <option>Select Dept name</option>
                            <option *ngFor="let dept of deptService.list" [value]=dept.DeptId> {{dept.DeptName}} </option>
                        </select> -->

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>Recurring : </label> &nbsp;
                            <input type="checkbox"  (click)="myFunction()" name="IsRecurring"
                                formControlName="IsRecurring" [ngClass]="{'is-invalid':submitted && f.IsRecurring.errors}">
                        </div>

                        <div class="col-sm-6" *ngIf="hourHide">
                            <label>Hours : </label>
                            <input type="number" class="form-control" name="DefaultHours" formControlName="DefaultHours"
                                [ngClass]="{'is-invalid':submitted && f.DefaultHours.errors}">
                            <div *ngIf="submitted && f.DefaultHours.errors" class="invalid-feedback">
                                <div *ngIf="f.DefaultHours.errors.required"></div>

                                <div *ngIf="f.DefaultHours.errors.maxlength"></div>
                            </div>
                        </div>
                    </div>

            <div class="modal-footer">
                <button type="submit" style="background-color:#132a3e" mdbBtn class="btn btn-dark">Save!</button>

                <button type="button" style="background-color:#132a3e" mdbBtn class="btn btn-dark" aria-label="Close"
                    (click)="basicModal.hide()" mdbWavesEffect>Close</button>
            </div>
            </form>
        </div>
        </div>
    </div>
</div>