.pwdbtn{
    background-color: #68ba9b;
     color:white;
     border: none;
     margin: 3px;
     border-radius: 2px;
     padding: 3px 5px;
 }
 .logoutbtn{
    background-color: #68ba9b;
     color:white;
     border: none;
     margin: 3px;
     border-radius: 2px;
     padding: 3px 5px;
 }
 p{
     color: white;
     
 }