<div class="row justify-content-center pt-5">
  <div class="col-md-10 justify-content-center">
    <div class="card">
      <header class="card-header bg-primary">
        <h4 class="card-title mt-2 text-white ">Add projects</h4>
      </header>
      <br>
      <form class="" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <div class="form-group">
            <label>Project Name</label>
            <input type="text"  formControlName="Name" class="form-control  border-primary"
              [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" >
            <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
              <div *ngIf="f.Name.errors.required">Project Name is required</div>
            </div>
          </div>
          <div class="form-group ">
            <label>Client</label>
            <input list="clientid" formControlName="ClientId" class="form-control border-primary" >
            <datalist id="clientid">
              <option *ngFor="let c of billingmanagerservice.clientlist" [value]="c.Id" >{{c.Name}}</option>
            </datalist>
          </div> 
          <div class="form-group">
            <div class="text-center">
              <button type="submit" class="btn bg-primary text-white mr-1">Add</button>
              <button class="btn btn-secondary" type="reset" (click)="onReset()">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>