<div class="card col-md-10">
   

    <form class="" [formGroup]="addForm" (ngSubmit)="onSubmit()" >
         
<div  class="form-group">
  <label>Client Organization</label>
      <input list="clients" formControlName="addclient" class="form-control border-primary" >
      <datalist id="clients">
        <option *ngFor="let c of clientList" [value]="c.Id" >{{c.Name}}</option>
      </datalist>
    </div>
        <div class="form-group">
          <label>Add Projects</label>
          <input
            type="text"
            formControlName="addproject"
            class="form-control border-primary"
            [ngClass]="{ 'is-invalid': submitted && f.addproject.errors }"
          />
         
        </div>
      
        <div class="form-group">
          <div class="text-center">
            <button class="btn bg-primary text-white mr-1">Add</button>
            <button
              class="btn btn-secondary"
              type="reset"
              (click)="onReset()"
            >
              Cancel
            </button>
          </div>
        </div>
        <!-- form-group// -->
      </form>
</div>