<div class="row justify-content-center pt-5">
  <div class="col-md-10 justify-content-center">
    <div class="card">
      <header class="card-header bg-primary">
        <h4 class="card-title mt-2 text-white ">Add Clients</h4>
      </header>
      <br>
      <form class="" [formGroup]="clientForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <div class="form-group ">
            <label>Client</label>
            <input list="clients" formControlName="Name" class="form-control border-primary">
          </div>
          <div class="form-group">
            <div class="text-center">
              <button type="submit" class="btn bg-primary text-white mr-1">Add</button>
              <button class="btn btn-secondary" type="reset" (click)="onReset()">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>