
<div clas="card">
<table class="table">
    <tr>
        <th>
         ProjectName
        </th>
    
        
    </tr>
</table>
</div>
<!-- <table class="table table-hover"> -->
 
    <!-- <tr *ngFor="let bm of service.list">
        <td (click)="billingForm(bm)"> {{bm.client}}</td>
        <td (click)="billingForm(bm)"> {{bm.addproject}}</td> -->
        <!-- <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(bm.id)"></i>
        </td> -->
    <!-- </tr> -->
<!-- </table> -->